.interiors {
  background: #F8F8F8;
  padding: 100px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../images/interiors-bg.png");
    left: 0px;
    top: -25px;
    height: 199px;
    z-index: 2;
    width: 274px;
  }

  &-inner{
    display: flex;
    align-items: center;
  }



  &-inner__block {
    z-index: 2;
    max-width: 650px;
    background: #FEFEFE;
    border-radius: 20px;
    padding: 50px;
    min-height: 385px;
    transform: translateX(-100px);
  }

  &__title {
    margin-bottom: 20px;
  }

  &__descr {
    color: #5C675A;
    font-size: 20px;
    line-height: 30px;
    @extend %wokrsans-400;
  }

}