.interiors {
  background: #F8F8F8;
  padding: 100px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../images/interiors-bg.png");
    left: 0px;
    top: -25px;
    height: 199px;
    z-index: 2;
    width: 274px;
  }


  &__image {
    position: relative;

  }

  &-inner__block {
    z-index: 2;
    margin-left: auto;
    max-width: 650px;
    position: absolute;
    background: #FEFEFE;
    border-radius: 20px;
    padding: 50px;
    top: 156px;
    bottom: 156px;
    right: 320px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__descr {
    color: #5C675A;
    font-size: 20px;
    line-height: 30px;
    @extend %wokrsans-400;
  }

}