.work {
  padding: 100px 0;

  &__title {
    margin-bottom: 60px;
    text-align: center;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 450px;
    background: #ffffff;
    border-radius: 20px;
    text-align: left;
    padding: 45px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      background: #4a8780;
      color: #fff;
    }
  }

  &__item-num {
    margin-bottom: 25px;
    font-size: 65px;
    line-height: 58px;
    color: #091106;
    display: inline-block;
    transition: all 0.5s ease-in-out;
  }

  &__item-title {
    margin-bottom: 25px;
    font-size: 33px;
    line-height: 40px;
  }

  &__item-descr {
    font-size: 20px;
    line-height: 30px;
    color: #4b4b4b;
    transition: all 0.5s ease-in-out;
    @extend %wokrsans-400;
  }
}


.work__item:hover .work__item-num {
  color: #fff;
}

.work__item:hover .work__item-descr {
  color: #fff;
}